<div class="container">
      <div class="form-group ">
            <label>Pictogramas</label>
      </div>
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list scrolling-wrapper"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box dragElement" *ngFor="let img of pictoPhrase; index as i" cdkDrag>
                  <button type="button" class="close" aria-label="Close" (click)="remove(i)">
                        <span aria-hidden="true">&times;</span>
                  </button>
                  <img src={{img.url}} class="img-responsive mx-auto finder" alt="" width="200px">
            </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="getTranslate()">Traducir</button>
</div>

<div class="container" *ngIf="finalPhrase">
      <p>{{finalPhrase}}</p>
</div>