<div class="container">
      <div class="form-group ">
            <label>
                  <h3>Pictogramas</h3>
            </label>
            <div cdkDropList cdkDropListOrientation="horizontal" class="example-list scrolling-wrapper  scrollForMov"
                  (cdkDropListDropped)="drop($event)">
                  <div class=" dragElement" *ngFor="let img of pictoPhrase; index as i" cdkDrag>
                        <button type="button" class="close" aria-label="Close" (click)="remove(i)">
                              <span aria-hidden="true">&times;</span>
                        </button>
                        <img src={{img.url}} class="img-responsive mx-auto finder" alt="" width="180px">
                  </div>
            </div>
      </div>
      <button type="submit" class="btn-lg btn-submit bg-dark text-white" (click)="getTranslate()">Traducir</button>

      <div class="container mt-3" *ngIf="finalPhrase">
            <div class="result">{{finalPhrase}}</div>
      </div>
</div>