<div class="container">
      <div class="form-group ">
          <label >Frase</label>
          <input type="text" class="form-control" id="subject" placeholder="Introduzca un sujeto" name="subject"  [(ngModel)]="phrase">
      </div>
      <button type="submit" class="btn btn-primary" (click)="getTranslate()">Submit</button>
      
<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let img of pictoPhrase" cdkDrag>
         <img src={{img.url}} class="img-responsive mx-auto d-flex justify-content-center flex-wrap" alt="" width="25%">
      </div>
</div>

</div>

<div class="container" *ngIf="finalPhrase">
      <p>{{finalPhrase}}</p>
</div>

