
<footer class=" footer  page-footer navbar-dark bg-dark align-bottom text-white text-center">
  <div class="container-fluid">
    <div class="row py-4 ">
          <ul class="col-xl-2 navbar-nav ml-3">
              <li class>
                  <h4>En colaboración con: </h4>
                  <img class="img-fluid mx-auto mt-3 d-block" id="logo-navbar-middle" src="/static/assets/dirs/arasaac.png" width="300" alt="Welcome to Pict2Text">
                </li>
          </ul>
        <div class="col-xl-3 navbar-nav mx-auto">
            <h5>Desarrollado por:</h5>
          <li>José Mª López Pulido</li>
          <li>Salvador Gonzalez Alvarez</li>
        </div>
          <div class="col-xl-3 navbar-nav mx-auto">
            <h5>Bajo la dirección de:</h5>
            <li>Virginia Francisco Gilmartín </li>
            <li>Susana Bautista Blasco</li>
          </div>
    <div class="col-xl-2 mr-3 ">
        <ul class="navbar-nav">
            <li>
                <h4>Con licencia:</h4>
                <img class="img-fluid mx-auto mt-3 d-block" id="logo-navbar-middle" src="/static/assets/dirs/ccc.png" width="200" alt="Welcome to Pict2Text">
              </li>
        </ul>
    </div>
  </div>
</div>
  </footer>
  