
<footer class=" footer  page-footer navbar-dark bg-dark align-bottom text-white text-center">
  <div class="container-fluid">
    <div class="row py-2">
          <ul class="col-xl-2 navbar-nav ml-3">
              <li class>
                  <h5>En colaboración con: </h5>
                  <img class="img-fluid mx-auto mt-2 d-block" id="logo-navbar-middle" src="/tfg-pict2text/static/assets/dirs/arasaac.png" width="200" alt="Welcome to Pict2Text">
                </li>
          </ul>
        <div class="col-xl-3 navbar-nav mt-2 mx-auto">
            <h6>Desarrollado por:</h6>
          <li>José Mª López Pulido</li>
          <li>Salvador Gonzalez Alvarez</li>
        </div>
          <div class="col-xl-3 navbar-nav mt-2 mx-auto">
            <h6>Bajo la dirección de:</h6>
            <li>Virginia Francisco Gilmartín </li>
            <li>Susana Bautista Blasco</li>
          </div>
    <div class="col-xl-2 mr-3 ">
        <ul class="navbar-nav">
            <li>
                <h5>Con licencia:</h5>
                <img class="img-fluid mx-auto mt-2 d-block" id="logo-navbar-middle" src="/tfg-pict2text/static/assets/dirs/ccc.png" width="150" alt="Welcome to Pict2Text">
              </li>
        </ul>
    </div>
  </div>
</div>
  </footer>
  