
<nav class="navbar navbar-expand-md navbar-dark bg-dark  fixed-bottom text-white">
    <div class="navbar-collapse collapse  order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto ml-5">
            <li class="nav-item">
                <h4>En colaboración con: </h4>
                <img class="img-fluid mx-auto mt-3 d-block" id="logo-navbar-middle" src="/assets/dirs/arasaac.png" width="300" alt="Welcome to Pict2Text">
              </li>
        </ul>
    </div>
        <div class=" d-inline  p-4 navbar-nav mx-auto">
            <h5>Desarrollado por:</h5>
          <li>José Mª López Pulido</li>
          <li>Salvador Gonzalez Alvarez</li>
        </div>
          <div class="d-inline  p-4 navbar-nav mx-auto">
            <h5>Bajo la dirección de:</h5>
            <li>Virginia Francisco Gilmartín </li>
            <li>Susana Bautista Blasco</li>
          </div>
    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto mr-5 mb-3">
            <li>
                <h4>Con licencia:</h4>
                <img class="img-fluid mx-auto mt-3 d-block" id="logo-navbar-middle" src="/assets/dirs/ccc.png" width="200" alt="Welcome to Pict2Text">
              </li>
        </ul>
    </div>
</nav>