<div class="container align-middle mt-5">
    <form action="/translate/getTranslate" method="post">
            {% csrf_token %}
        <div class="form-group ">
            <label >Sujeto</label>
            <input type="text" class="form-control" id="subject" placeholder="Introduzca un sujeto" name="subject">
        </div>
        <div class="form-group">
            <label >Verbo</label>
            <input type="text" class="form-control" id="verb" placeholder="Introduzca un verbo" name="verb">
        </div>
          <div class="form-group">
            <label >Objeto</label>
            <input type="text" class="form-control" id="object" placeholder="Introduzca el complemento directo" name="object">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Seleccione</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
