<!DOCTYPE html>
    {% load static %}
<html>
<head>
    <meta charset="UTF-8">

    <!-- Add jquery-->
    <script src="{% static "bootstrap/js/jquery-3.3.1.min.js" %}"></script>
    <!--Add bootstrap js-->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
     <!-- Add bootstrap cs -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>
<div class="container">
<div class="row">
  <div class="col-sm">
      {% include "translateForm.html" %}
  </div>

    <div class="col-sm">
        {% include "pictoService.html" %}
    </div>

</div>
    <div class="row">
        {% include "pictoTranslateTemplate.html" %}
    </div>
</div>
</body>

</html>