<div class="container">
<form action="/getPicto" method="get">
        <div class="form-group ">
            <label >Nombre del picto</label>
            <input type="text" class="form-control" id="pictoName" placeholder="Introduzca el pictograma que desea buscar" name="pictoName">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
</form>


    {% if pictos %}
<div class="container">
    {% for img in pictos %}
         <img src={{img.url}} alt="">
        <p>{{img.id}}</p>
    {% endfor %}
</div>
    {% endif %}

</div>