<div class="container">
    <form action="/getTranslate" method="post">
            {% csrf_token %}
        <div class="form-group ">
            <label >Sujeto</label>
            <input type="text" class="form-control" id="subject" placeholder="Introduzca un sujeto" name="subject">
        </div>
        <div class="form-group">
            <label >Verbo</label>
            <input type="text" class="form-control" id="verb" placeholder="Introduzca un verbo" name="verb">
        </div>
          <div class="form-group">
            <label >Objeto</label>
            <input type="text" class="form-control" id="object" placeholder="Introduzca el complemento directo" name="object">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container">
      {% if translateResult %}
        <p>{{translateResult}}</p>
      {% endif %}
</div>

